<div class="d-flex justify-content-center" *ngIf="!isLoaded">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<section *ngIf="isLoaded">
  <div class="container question">
    <div class="question__header ">
      <div class="question_row">
        <div class="question__author">
          {{userData.name.slice(0,userData.name.indexOf('@'))}}
        </div>
        <div class="question__date">
          {{question.date | date:"M.d.yy"}}
        </div>
      </div>
      <div class="question__title">
        {{question.title}}
      </div>
    </div>
    <div class="question__content">
      <div class="question__text">
        {{question.text}}
      </div>
      <div class="question_row">
        <div class="question__tags">
          <span
            *ngFor="let tag of question.tags"
            class="question__tag"
          >{{tag}}</span>
        </div>
        <div
          class="question__control"
          *ngIf="rules.edit"
        >
            <div class="btn-group question__buttons" role="group" aria-label="Basic example">
              <button
                type="button"
                class="btn btn-outline-dark"
                [routerLink]="['/system/eddingQuestion']"
                [fragment]="(questionId)"
              >Edit</button>
              <button
                type="button"
                class="btn btn-outline-dark"
                (click)="deleteQuestion()"
              >Delete</button>
            </div>
          </div>
      </div>

    </div>
  </div>
  <div class="container commentForm">
    <form
      class="formQuestion"
      #f="ngForm"
      (ngSubmit)="addComment(f)"
    >
      <div class="formQuestion__item form-group">
        <label class="formQuestion__lable">
          Text
        </label>
        <textarea
          class="formQuestion__input formQuestion__textarea form-control"
          ngModel
          required
          type="text"
          #text="ngModel"
          name="text"
          id="text"
        >
        </textarea>
      </div>
      <div class="formQuestion__button form-group">
        <button
          type="submit"
          class="btn btn btn-outline-dark"
          [disabled]="f.invalid"
        >
          Add comment</button>
      </div>

    </form>
  </div>
  <div class="container comments">
    <span
      class="comments__info"
      *ngIf="!comments.length"
    >
      No any comments yet
    </span>
    <ul class="">
      <li
        class="comment comments-item"
        *ngFor="let comment of comments"
      >
        <div class="comment__user">
          {{comment.author | soqUserName}}
        </div>
        <div class="comment__text">
          {{comment.text}}
        </div>
        <div class="comment__info">
          <div class="comment__date">
            {{comment.date | date:"M.d.yy"}}
          </div>
          <div
            class="comment__resolve"

          >
            <input
              *ngIf="rules.resolveComment"
              type="checkbox"
              class="comment__checkbox"
              [checked]="comment.status === 'resolve'"
              value="{{comment.status}}"
              name="{{comment.key}}"
              (change)="onResolve($event.target.name, $event.target.value)"
            >
            <label class="comment__checkbox-lable " >{{comment.status}}</label>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
