.question{
  border: 2px darkslategrey solid;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  .question_row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .question__title{
    width: 100%;
    padding: 10px 0;
    border-bottom: 2px darkslategrey solid;
    text-align: center;
    margin-bottom: 20px;
  }
  .question__tags{
    .question__tag{
      padding: 0 5px;
      border-right: 2px darkslategrey solid;
    }
    .question__tag:last-child{
      border-right: none;
      padding-right: 0;
    }
  }
  .question__control{
    padding: 10px 0;
  }
}
.commentForm{
  border: 2px darkslategrey solid;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  .formQuestion__button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

}
.comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px darkslategrey solid;
  border-radius: 5px;
  padding: 15px;
}
.comment {
  display: flex;
  width: 100%;
  border: 2px darkslategrey solid;
  border-radius: 5px;
  padding: 15px;
  justify-content: space-between;
  margin-bottom: 10px;

  .comment__user {
    width: 50px;
    margin-right: 20px;
  }
  .comment__text {
    width: 100%;
    text-align: left;
  }
  .comment__info {
    width: 125px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .comment__checkbox{
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px;
  }
  .comment__checkbox-lable{
    display: inline;
    padding-left: 15px;
  }
  &:last-child{
    margin-bottom: 0;
  }
  .question__tag{
    padding: 0 5px;
    border-right: 2px darkslategrey solid;
  }
  .question__tag:last-child{
    border-right: none;
    padding-right: 0;
  }
}


