<section>
  <div class="container question">
    <div class="question__header ">
      <div class="question_row">
        <div class="question__author">
          Author
        </div>
        <div class="question__date">
          10 1 2012
        </div>
      </div>
      <div class="question__title">
        Title
      </div>
    </div>
    <div class="question__content">
      <div class="question__text">
        TExsklgbdsfnkl;jbnfdkl'bj;fdkl.bndfl;kbndfl;kbjl;kdfmblkdf
      </div>
      <div class="question_row">
        <div class="question__tags">
          TAg
        </div>
        <div class="question__control">
            <div class="btn-group question__buttons" role="group" aria-label="Basic example">
              <button
                type="button"
                class="btn btn-outline-dark"
                (click)="addComment()"
              >Add comment</button>
              <button
                type="button"
                class="btn btn-outline-dark"
              >Edit</button>
              <button type="button" class="btn btn-outline-dark">Delete</button>
            </div>
          </div>
      </div>

    </div>
  </div>
  <div class="container comments">
    <ul class="">
      <li
        class="comment comments-item"
        *ngFor="let comment of comments"
      >
        <div class="comment__user">
          {{comment.author}}
        </div>
        <div class="comment__text">
          {{comment.text}}
        </div>
        <div class="comment__info">
          <div class="comment__date">
            {{comment.date | date:"M.d.yy"}}
          </div>
          <div class="comment__resolve">
            <input
              type="checkbox"
              class="comment__checkbox"
              value="resolve"
            >
            <label class="comment__checkbox-lable " >resolve</label>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
