<header>
  <div class="container header">
    <div class="header__row">
      <div class="header__button">
        <div class="btn btn-outline-info" (click)="openFilter()">
          Filters
        </div>
      </div>
      <div class="header__button">
        <div class="btn btn-outline-info" (click)="sortByData()">
          Sorting by data
        </div>
      </div>
      <div class="header__button">
        <div class="btn btn-outline-info">
          Settings
        </div>
      </div>
    </div>
  </div>
</header>
<div *ngIf="isFilterOpen">
  <soq-home-filter
    [filterParams]="filterParams"
    (onFilterCancel)="onFilterCancel()"
    (onFilterApply)="onFilterApply($event)"
  ></soq-home-filter>
</div>

<div
  class="questions"
  *ngIf="isLoaded"
>
  <div class="container">
    <div class="questions__row">
      <ul class="questions__list questions__list-line">
        <li
          class="questions__item"
          *ngFor="let question of filteredQuestion | soqFilterByDate: isAscending"
        >
          <div
            class="question question-line"
            [routerLink]="['/system/question']"
            [fragment]="(question.key)"
          >
            <h3 class="question__title">{{question.title}}</h3>
            <div class="question__info">
              <div class="question__date">
                {{question.date | date:"M.d.yy"}}
              </div>
              <div class="question__tags">
                <span
                  *ngFor="let tag of question.tags"
                  class="question__tag"
                >{{tag}}</span>
              </div>
            </div>
            <div class="question__control" *ngIf="userData.status === 'admin'">
              <div class="btn-group question__buttons" role="group" aria-label="Basic example">
                <button
                  type="button"
                  class="btn btn-outline-dark"
                  *ngIf="question.status === 'notApproved'"

                  (click)="approveQuestion($event, question.key)"
                >
                  Approve
                </button>
                <button
                  type="button"
                  class="btn btn-outline-dark"
                  (click)="deleteQuestion($event, question.key)"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
