<header>
  <div class="container header">
    <div class="header__row">
      <div class="header__button">
        <div class="btn btn-outline-info" (click)="openFilter()">
          Filters
        </div>
      </div>
      <div class="header__button">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a
              class="dropdown-item"
            >
              Descending date
            </a>
            <a
              class="dropdown-item"
            >
              Ascending date
            </a>
          </div>
        </div>
      </div>
      <div class="header__button">
        <div class="btn btn-outline-info">
          Settings
        </div>
      </div>
    </div>
  </div>
</header>
<soq-home-filter
  *ngIf="isFilterOpen"
  (onFilterCancel)="onFilterCancel()"
  (onFilterApply)="onFilterApply($event)"
></soq-home-filter>
<div class="questions">
  <div class="container">
    <div class="questions__row">
      <ul class="questions__list questions__list-line">
        <li
          class="questions__item"
          *ngFor="let question of filteredQuestion"
        >
          <div
            class="question question-line"
            [routerLink]="['/system/question']"
            [fragment]="(question.key)"
          >
            <h3 class="question__title">{{question.title}}</h3>
            <div class="question__info">
              <div class="question__date">
                {{question.date | date:"M.d.yy"}}
              </div>
              <div class="question__tags">
                <span
                  *ngFor="let tag of question.tags"
                  class="question__tag"
                >{{tag}}</span>
              </div>
            </div>
            <div class="question__control">
              <div class="btn-group question__buttons" role="group" aria-label="Basic example">
                <button
                  type="button"
                  class="btn btn-outline-dark"
                >Approve</button>
                <button type="button" class="btn btn-outline-dark">Delete</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
