<header>
  <div class="container">

    <div class="row">
      <div class="col">
        <div class="header__logo">
          <img src="assets/image/logo.png">
        </div>
      </div>
      <div class="col">
        <div class="header__button">
          <button
            *ngIf="curentUrl==='/login'"
            class="btn badge-info"
          >
            SignIn
          </button>
          <button
            *ngIf="curentUrl==='/registration'"
            class="btn badge-info"
          >
            LogIn
          </button>
          <button
            *ngIf="curentUrl.indexOf('createQuestion')+1"
            class="btn badge-info"
            routerLink="/system/home"
          >
            Home
          </button>
          <button
            *ngIf="curentUrl.indexOf('home')+1"
            class="btn badge-info"
            routerLink="/system/createQuestion"
          >
            New question
          </button>
          <button
            *ngIf="curentUrl.indexOf('system')+1"
            class="btn badge-info"
            (click)="onLogOut()"
          >
            LogOut
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>



