<header>
  <div class="container">

    <div class="row">
      <div class="col">
        <div class="header__logo">
          <img src="assets/image/logo.png">
        </div>
      </div>
      <div class="col">
        <div class="header__button">
          <button
            *ngIf="curentUrl==='/login'"
            class="btn badge-info"
          >
            SignIn
          </button>
          <button
            *ngIf="curentUrl==='/registration'"
            class="btn badge-info"
          >
            LogIn
          </button>
          <button
            *ngIf="curentUrl.indexOf('uestion')+1"
            class="btn badge-info"
            routerLink="/system/home"
          >
            Home
          </button>
          <button
            *ngIf="curentUrl.indexOf('home')+1"
            class="btn badge-info"
            routerLink="/system/createQuestion"
          >
            New question
          </button>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a
                class="dropdown-item"
                *ngIf="curentUrl.indexOf('system')+1"
                routerLink="/system/createQuestion"
              >
                Profile
              </a>
              <a
                class="dropdown-item"
                *ngIf="curentUrl.indexOf('system')+1"
                (click)="onLogOut()"
              >
                SignOut
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="globalButton">
  <div
    *ngIf="curentUrl.indexOf('home')+1"
    class="circleButton"
    routerLink="/system/createQuestion"
  >
    <p>+</p>
  </div>
</div>

<router-outlet></router-outlet>



